{% extends "includes/base-layout.twig" %}

{% block title %}Cook-book | Merest{% endblock %}
{% block content %}
<h1 class="page-title">Cook-book</h1>
<section>
  <article>
    <h3>Cook-book</h3>
    <ul>
      <li><a href="https://github.com/DScheglov/merest/tree/master/examples/simplest-usage">Getting started</a></li>
      <li><a href="https://github.com/DScheglov/merest/tree/master/examples/read-only">Read-only exposition</a></li>
      <li><a href="https://github.com/DScheglov/merest/tree/master/examples/population">Population</a></li>
      <li><a href="https://github.com/DScheglov/merest/tree/master/examples/vertical-vectors">Exposition with filtering</a></li>
      <li><a href="https://github.com/DScheglov/merest/tree/master/examples/filtering-on-insertion">Filtering on insertion</a></li>
      <li><a href="https://github.com/DScheglov/merest/tree/master/examples/instance-method">Exposition of Instance method</a></li>
      <li><a href="https://github.com/DScheglov/merest/tree/master/examples/static-method">Exposition of static method</a></li>
      <li><a href="https://github.com/DScheglov/merest/tree/master/examples/transform-response">Response customization</a></li>
    </ul>
  </article
</section>
{% endblock %}
