<h2>
  <a href="index.html">merest</a>
</h2>

<h3><a href="installation.html">Installation</a></h3>
<ul>
  <li><a href="installation.html#prerequisites">Prerequisites</a></li>
  <li><a href="installation.html#npm-install">npm installation</a></li>
  <li><a href="installation.html#development">Development</a></li>
</ul>

<h3><a href="cook-book.html">Cook-book</a></h3>

<h3><a href="conf-levels.html">API Configuration</a></h3>
<ul>
  <li><a href="conf-levels.html">Configuration levels</a></li>
  <li><a href="conf-app.html">API Application</a></li>
  <li><a href="conf-router.html">Router</a></li>
  <li><a href="conf-end-points.html">End-point</a></li>
  <li><a href="conf-methods.html">Model methods</a></li>
</ul>

<h3><a href="end-points.html">API Requests and Responses</a></h3>
<ul>
  <li><a href="end-points.html">Common reponses</a></li>
  <li><a href="end-points.html#ep_options">Options</a></li>
  <li><a href="end-points.html#ep_search">Search</a></li>
  <li><a href="end-points.html#ep_create">Create</a></li>
  <li><a href="end-points.html#ep_details">Details</a></li>
  <li><a href="end-points.html#ep_update">Update</a></li>
  <li><a href="end-points.html#ep_delete">Delete</a></li>
  <li><a href="end-points.html#transform-response">Custom response</a></li>
</ul>

<h3><a href="swagger.html">Swagger support</a></h3>
<ul>
  <li><a href="swagger.html#install">Installation</a></li>
  <li><a href="swagger.html#api-conf">Configure API</a></li>
  <li><a href="swagger.html#document">Creating <code>swagger.json</code></a></li>
  <li><a href="swagger.html#api-docs">Exposing the api-docs</a></li>
  <li><a href="swagger.html#swagger-ui">Embedded swagger-ui</a></li>
</ul>

<h3>Specifications</h3>
<ul>
  <li><a href="ModelAPIExpress.html">ModelAPIExpress</a></li>
  <li><a href="merest-swagger.html">Swagger-support methods</a></li>
  <li><a href="ModelAPIRouter.html">ModelAPIRouter</a></li>
  <li><a href="ModelAPIError.html">ModelAPIError</a></li>
</ul>
